{% extends 'logout/base.html' %}
{% block content %}
{% if error == "no" %}
<script>
  alert('Record save successfully');
  window.location = "{% url 'view_appointment' %}";
</script>
{% endif %}

{% if error == "yes" %}
<script>
  alert('invalid login, try again');
</script>
{% endif %}


<div class="container">
  <h2 class="text-center" style="font-weight: bold;">Car Booking</h2>
  <form method="POST" action="{% url 'laddBooking' %}">
    {% csrf_token %}
    <label>Customer Name</label>
    <input type="text" class="form-control" name="cname"><br>
    <label>Car Model</label>
    <select name="model" class="form-control">
      <option>Slavia</option>
      <option>Kushaq</option>
      <option>Kodiaq</option>
      <option>Superb</option>
    </select>
    <label>Email</label>
    <input type="email" class="form-control" name="mail"><br>
    <label>Phone Number</label>
    <input type="number" class="form-control" name="phno"><br>
      <div>
        <input type="submit" value="Pay" class="form-control btn btn-primary width:100px" />
      </div>
  </form>
</div>
<br>
{% endblock %}