{% extends 'login/base.html' %}
{% block content %}
<h1 style="color:#42f5a7;font-style:italic;text-align:center;font-size:80px">Service</h1>

<div class="container" style="padding:50px;">
        <div class="row">
            <div class="col-12 col-md-6" style="padding:5px;">
                <div class="card bg-dark text-white" style="width:500px;height:300px;">
                    <a href="{% url 'login' %}">
                    <img class="card-img " src="https://www.garage.movemycar.in/assets/images/content-image-2.png" alt="Card image">
                        <div class="card-img-overlay">
                            <br><br><br><br><br><br><br><br><br>
                        <h1 style="color:white;">Book Your Appointment</h1>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6" style="padding:5px;">
                <div>
                    <div class="card bg-dark text-white" style="width:500px;height:300px;">
                         <a href="{% url 'towtruck' %}">
                             <img style="width:498px;height:298px;" class="card-img " src="https://img.freepik.com/free-vector/towing-concept-illustration_114360-5474.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1697155200&semt=ais" alt="Card image">
                            <div class="card-img-overlay">
                                <h1 style="color:black;">Call For Tow Truck</h1>
                            </div>
                         </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>

{% endblock %}