{% extends 'login/base.html' %}
{% block content %}
<h1 style="color:#42f5a7;font-style:italic;text-align:center;font-size:80px">Call a Towtruck</h1>
<img src="https://c4.wallpaperflare.com/wallpaper/572/103/624/cars-mater-tow-truck-wallpaper-preview.jpg">
<div style="float:right;padding-right:100px;padding-top:50px">

    <h1>Contact: 1800 209 4646</h1>
    <h1 style="float:right;">1800 102 6464</h1>
    <center>
    <a href="tel:+91 1800 209 4646"><input class="w3-button w3-black w3-round-xxlarge text-center" style="color:#42f5a7;width:300px;" type="submit" value="Contact"></a>
    </center>
</div>
{% endblock %}