{% extends 'dealer/base.html' %}
{% block content %}


<h1 style="color:#42f5a7;font-style:italic;text-align:center;font-size:80px">Kodiaq</h1>
<img style="float:right" src="https://cpv3prodbluecdnep.azureedge.net/images3/external/fe0696fb192d60167b57ac13dd5b299e/DerivativeIntroductionModule/81a8165a22bee5eb170c68a4dc8020dcf6f6b7c6eca1bf421d5417e6ff59a402/Default_bp1200_1.webp">
<h2 style="padding-left:100px;">Rs. 38.50 - 41.95 Lakh</h2>
<h2 style="font-size:20px;padding-left:100px;padding-top:10px">India's Safest Family Sedan</h2>
<div class="Specifications" style="padding-left:100px;padding-right:50px">
  <p>Skoda Kodiaq price for the base model starts at Rs. 38.50 Lakh and the top model price goes upto Rs. 41.95 Lakh (Avg. ex-showroom). Kodiaq price for 3 variants is listed below.</p>
</div>

    <p style="padding-top:20px;"><button class="w3-button w3-black w3-round-xxlarge text-center" style="margin-left:100px;width:16%;text-align:center;">Test Drive</button></p>
    <p><button class="w3-button w3-black w3-round-xxlarge text-center" style="margin-left:100px;width:16%;text-align:center;">Book Now</button></p>


<table style="background-color:rgb(51,51,51);width:100%">
      <tr>
        <td><h1 style="color:white;font-style:italic;text-align:center;font-size:60px">Images</h1></td>
    </tr>
</table>
<center>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://cpv3prodbluecdnep.azureedge.net/images3/sites/enin-v2/4b543209-69d5-40f4-9a87-e1d793462c53/462246f40c536ba41aa666d05d6a54b2/ModelCharacterGalleryModule/7632a1f0aa516594d6a0e94356eefae7250acf63669750b30971a08237c5496b/Default_bp1200_1.webp" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
        <p>The Special edition Slavia Ambition Plus with exclusive chrome package</p>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://cpv3prodbluecdnep.azureedge.net/images3/sites/enin-v2/74161189-b10d-49ba-bad4-4a8655d58e65/c18ce4e10fe982687af7f38ffff5dbf8/ModelCharacterGalleryModule/7632a1f0aa516594d6a0e94356eefae7250acf63669750b30971a08237c5496b/Default_bp1200_1.webp" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
        <p>Skoda Signature Grill with Chrome Ribs</p>
        </div>
        </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://cpv3prodbluecdnep.azureedge.net/images3/sites/enin-v2/8090287d-f6f7-4b0c-8639-64cfd0f2f64b/010c79c8b5e6eace4c414f8dad4fed7e/ModelCharacterGalleryModule/7632a1f0aa516594d6a0e94356eefae7250acf63669750b30971a08237c5496b/Default_bp1200_1.webp" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
        <p>Stylish Alloy Wheels R(16),Lynx</p>
        </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="https://cpv3prodbluecdnep.azureedge.net/images3/sites/enin-v2/9a78c8d9-7d34-4b28-beb0-bc3c0da1cbfd/bb1867d3ffd97876f75abde6ea32d234/ModelCharacterGalleryModule/7632a1f0aa516594d6a0e94356eefae7250acf63669750b30971a08237c5496b/Default_bp1200_1.webp" alt="Fourth slide">
        <div class="carousel-caption d-none d-md-block">
        <p>Explore a world of power and class.</p>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://cpv3prodbluecdnep.azureedge.net/images3/sites/enin-v2/72a4291f-66d3-4a59-83b5-806ed247fede/757392663b315352374b01ea140a9b21/ModelCharacterGalleryModule/7632a1f0aa516594d6a0e94356eefae7250acf63669750b30971a08237c5496b/Default_bp1200_1.webp" alt="Fourth slide">
        <div class="carousel-caption d-none d-md-block">
        <p>Explore a world of power and class.</p>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://cpv3prodbluecdnep.azureedge.net/images3/sites/enin-v2/a1ec845a-fabe-46e3-9eda-f14d729cbfeb/acc72f41d6ae50c3f902f74f2af63b6e/ModelCharacterGalleryModule/7632a1f0aa516594d6a0e94356eefae7250acf63669750b30971a08237c5496b/Default_bp1200_1.webp" alt="Fourth slide">
        <div class="carousel-caption d-none d-md-block">
        <p>Explore a world of power and class.</p>
        </div>
    </div>



  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</center>
<table style="background-color:rgb(51,51,51);width:100%">
      <tr>
        <td><h1 style="color:white;font-style:italic;text-align:center;font-size:60px">Interior</h1></td>
    </tr>
</table>



<div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators1">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://cpv3prodbluecdnep.azureedge.net/images3/sites/enin-v2/7d361788-697d-4c60-b201-d025a45e8e51/610f46eb87c3658ace241ab665dcd750/ModelCharacterGalleryModule/7632a1f0aa516594d6a0e94356eefae7250acf63669750b30971a08237c5496b/Default_bp1200_1.webp" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
        <p>Electric Sunroof With Anti-pinch Technology</p>
        </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="https://cpv3prodbluecdnep.azureedge.net/images3/sites/enin-v2/d310ce44-44bf-4f9f-869e-3f8f298315d4/3361417dc436a7c81d60a6d4258614d5/ModelCharacterGalleryModule/7632a1f0aa516594d6a0e94356eefae7250acf63669750b30971a08237c5496b/Default_bp1200_1.webp" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
        <p>Intuitive design takes centerstage in the beautifully crafted interiors </p>
        </div>
        </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="https://cpv3prodbluecdnep.azureedge.net/images3/sites/enin-v2/ba1dd33f-7d4b-4e05-b9fd-f6f2e7765473/3dfcb36bd5e8be908017b0f9b4cdc324/ModelCharacterGalleryModule/7632a1f0aa516594d6a0e94356eefae7250acf63669750b30971a08237c5496b/Default_bp1200_1.webp" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
        <p>Effortless beauty that boasts of comfort, elegance and style</p>
        </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="https://cpv3prodbluecdnep.azureedge.net/images3/sites/enin-v2/c3e8f1cf-cef1-4831-b204-028df47a6924/a152d3241406b8b76e64953fdfcfda0a/ModelCharacterGalleryModule/7632a1f0aa516594d6a0e94356eefae7250acf63669750b30971a08237c5496b/Default_bp1200_1.webp" alt="Fourth slide">
        <div class="carousel-caption d-none d-md-block">
        <p>20.32 cm Škoda Infotainment System</p>
        </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="https://cpv3prodbluecdnep.azureedge.net/images3/sites/enin-v2/00cd78b3-271b-4b00-a0ba-749a2a9f3a8f/9dfbac239527f2558593ea91bb096277/ModelCharacterGalleryModule/7632a1f0aa516594d6a0e94356eefae7250acf63669750b30971a08237c5496b/Default_bp1200_1.webp" alt="Fifth slide">
        <div class="carousel-caption d-none d-md-block">
        <p>20.32cm Škoda Virtual Cockpit</p>
        </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="https://cpv3prodbluecdnep.azureedge.net/images3/sites/enin-v2/d4055965-8ba1-4ae5-9130-905855ec5c1f/b0bd374e8d0e8d02ad04ff2c8c3aeab7/ModelCharacterGalleryModule/7632a1f0aa516594d6a0e94356eefae7250acf63669750b30971a08237c5496b/Default_bp1200_1.webp" alt="Sixth slide">
        <div class="carousel-caption d-none d-md-block">
        <p>Clever features and unmatched comfort ensure a seamless driving experience </p>
        </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="https://cpv3prodbluecdnep.azureedge.net/images3/sites/enin-v2/26340c10-e60b-46e4-af7c-8e22699cca6f/4aa8e261b4242f79c7d9f52a0d872e7a/ModelCharacterGalleryModule/7632a1f0aa516594d6a0e94356eefae7250acf63669750b30971a08237c5496b/Default_bp1200_1.webp" alt="Seventh slide">
        <div class="carousel-caption d-none d-md-block">
        <p>Interiors where compelling artistry and convenience transcend into luxury</p>
        </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<h1 style="font-size:40px;padding-top:50px;padding-left:100px"><u>Specifications</u></h1>
<div class="pl-5">
    <table style="width:60%;">
      <tr>
            <th><h3>ARAI Mileage</h3></th>
            <th><h3>18.41 kmpl</h3></th>
        </tr>
      <tr>
        <th><h3>Fuel Type</h3></th>
        <th><h3>Petrol</h3></th>
      </tr>
      <tr>
        <th><h3>Engine Displacement (cc)</h3></th>
        <th><h3>1498</h3></th>
      </tr>
      <tr>
        <th><h3>Max Power (bhp@rpm)</h3></th>
        <th><h3>147.52bhp@5000-6000rpm</h3></th>
      </tr>
      <tr>
        <th><h3>Max Torque (nm@rpm)</h3></th>
        <th><h3>250Nm@1600-3500rpm</h3></th>
      </tr>
      <tr>
        <th><h3>Seating Capacity</h3></th>
        <th><h3>5</h3></th>
      </tr>
      <tr>
        <th><h3>TransmissionType</h3></th>
        <th><h3>Automatic</h3></th>
      </tr>
      <tr>
        <th><h3>Boot Space (Litres)</h3></th>
        <th><h3>521</h3></th>
      </tr>
      <tr>
        <th><h3>Body Type</h3></th>
        <th><h3>Sedan</h3></th>
      </tr>
      <tr>
        <th><h3>Ground Clearance Unladen</h3></th>
        <th><h3>179mm</h3></th>
      </tr>
    </table>
  </div>


<h1 style="font-size:40px;padding-top:50px;padding-left:100px"><u>Key Features of Skoda Kodiaq</u></h1>
<div class="pl-5">
    <table style="width:90%;">
      <tr>
            <th><h3>Power Steering</h3></th>
            <th><h3 style="color:green;" >✔</h3></th>
            <th><h3>Anti Lock Braking System</h3></th>
            <th><h3 style="color:green;" >✔</h3></th>
        </tr>

      <tr>
        <th><h3>Driver Airbag</h3></th>
        <th><h3 style="color:green;" >✔</h3></th>
        <th><h3>Automatic Climate Control</h3></th>
        <th><h3 style="color:green;" >✔</h3></th>
      </tr>

      <tr>
        <th><h3>Alloy Wheels</h3></th>
        <th><h3 style="color:green;" >✔</h3></th>
        <th><h3>Power Windows Front</h3></th>
        <th><h3 style="color:green;" >✔</h3></th>
      </tr>

      <tr>
        <th><h3>Air Conditioner</h3></th>
        <th><h3 style="color:green;" >✔</h3></th>
        <th><h3>Passenger Airbag</h3></th>
        <th><h3 style="color:green;" >✔</h3></th>
      </tr>

      <tr>
        <th><h3>Fog Lights - Front</h3></th>
        <th><h3 style="color:green;" >✔</h3></th>
      </tr>
    </table>
  </div>


<table style="background-color:rgb(51,51,51);width:100%;">
      <tr>
        <td><h1 style="color:white;font-style:italic;text-align:center;font-size:60px;">Colours</h1></td>
    </tr>
</table>


<div class="responsive" style="padding-top:10px;">
  <div class="gallery">
    <a target="_blank" href="https://stimg.cardekho.com/images/car-images/930x620/Skoda/Slavia/7257/1680595532197/221_crystal-blue-with-carbon-steel-roof_096bb8.jpg?tr=w-898">
      <img src="https://imgd.aeplcdn.com/370x208/n/rtv5d0b_1624319.jpg?q=80&q=80" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Moon White Metallic</div>
  </div>
</div>


<div class="responsive" style="padding-top:10px;">
  <div class="gallery">
    <a target="_blank" href="https://stimg.cardekho.com/images/car-images/930x620/Skoda/Slavia/9813/1681809102154/223_briliant-silver_b9b9b9.jpg?tr=w-898">
      <img src="https://imgd.aeplcdn.com/370x208/n/9gesd0b_1624325.jpg?q=80&q=80" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Magic Black Metallic</div>
  </div>
</div>

<div class="responsive" style="padding-top:10px;">
  <div class="gallery">
    <a target="_blank" href="https://stimg.cardekho.com/images/car-images/930x620/Skoda/Slavia/9813/1681809102154/224_carbon-steel_b9b9b9.jpg?tr=w-898">
      <img src="https://imgd.aeplcdn.com/370x208/n/acu5d0b_1624317.jpg?q=80&q=80" width="600" height="400">
    </a>
    <div class="desc">Graphite Grey Metallic</div>
  </div>
</div>

<div class="responsive" style="padding-top:10px;">
  <div class="gallery">
    <a target="_blank" href="https://stimg.cardekho.com/images/car-images/930x620/Skoda/Slavia/9813/1681809102154/221_crystal-blue_097ac2.jpg?tr=w-898">
      <img src="https://imgd.aeplcdn.com/370x208/n/w7csd0b_1624323.jpg?q=80&q=80" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Lava Blue Metallic</div>
  </div>
</div>

<div class="responsive" style="padding-top:10px;padding-bottom:10px;">
  <div class="gallery">
    <a target="_blank" href="https://stimg.cardekho.com/images/car-images/930x620/Skoda/Slavia/9813/1681809102154/222_tornado-red_b5011a.jpg?tr=w-898">
      <img src="https://imgd.aeplcdn.com/370x208/n/vy55d0b_1624313.jpg?q=80&q=80" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">TRace Blue Metallic</div>
  </div>
</div>

<div class="responsive" style="padding-top:10px;padding-bottom:10px;">
  <div class="gallery">
    <a target="_blank" href="https://stimg.cardekho.com/images/car-images/930x620/Skoda/Slavia/7257/1680595532197/222_briliant-silver-with-carbon-steel-roof_096bb8_645a52.jpg?tr=w-898">
      <img src="https://imgd.aeplcdn.com/370x208/n/69n5d0b_1624307.jpg?q=80&q=80" width="600" height="400">
    </a>
    <div class="desc">Steel Grey Metallic</div>
  </div>
</div>


<div class="clearfix"></div>




{% endblock %}